<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}Welcome!{% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div class="container">
            <div class="pull-right">
                {% if app.user %}
                    Zalogowany jako {{ app.user }} | <a href="{{ path('fos_user_security_logout') }}">
                        wyloguj</a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">Zaloguj się</a>
                {% endif %}
            </div>
            {% block body %}        

            {% endblock %}
        </div>

    {% block javascripts %}{% endblock %}
</body>
</html>
