{% extends 'base.html.twig' %}

{% block body %}

    {% for post in posts %}
        <div>
            <h3><a href="{{ path('show_post', {'id' : post.id}) }}">{{ post.title }}</a></h3>
            <p>{{ post.lead }}</p>
        </div>
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>

{% endblock %}
